<html>
  <head>
    <title>New Message Form</title>
    <!-- <link rel="stylesheet" href="../public/" /> -->
  </head>
  <body>
    <h1>New Message</h1>
    <form method="POST" action="/new">
      <div>
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" required />
      </div>

      <div>
        <label for="messageText">Message:</label>
        <input type="text" id="messageText" name="messageText" required />
      </div>

      <button type="submit">Send Message</button>
    </form>
  </body>
</html>
